body{
    background-color: #FFD700;
    color: #ffff;
}

.general-trade-image{
    max-width: 1152px;
    width: 100%;
    height: 620px;
}

.container-image{
    text-align: center;
}

.about-us{
    font-size: 60px;
    background-color: #000000;
    padding: 15px;
}


.about-us-container,.servis-container,.contacks-container{
    display: flex;
    justify-content: center;
}

.about-us-text-container{
    display: flex;
    justify-content: center;
}

.people-image-container{
    display: flex;
    justify-content: center;
}

.servis{
    font-size: 60px;
    padding: 16px;
    background-color: #000000;
}

.servis-list-contaier{
    display: flex;
    justify-content: space-around;
}

.servis-list-container-text-header{
    justify-content: center;
    display: flex;
    font-size: 30px;
}

.image-servis{
    display: flex;
    margin: 0 auto;
}

.servis-list-text{
    display: inline-block;
    font-size: 15px;
}

.Markings{
    margin-left: 200px;
}

.contacts{
    font-size: 60px;
    padding: 16px;
    background-color: #000000;
}

.list-contacts{
    list-style: none;
   text-align: center;
}